:root{
    --box-size: 150px;
}
*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
td{
    /* border:  2px solid black; */
    height: var(--box-size);
    width: var(--box-size);
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    cursor: pointer;

}
.cell{
    background-color:#838888;
    border-radius: 15px;
    padding: 2px;
    color: white;
    font-weight: bold;
}
table{
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50%;
    margin-top: -155px;
}

.endgame{
    display: none;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(240, 243, 240, 0.7);
    position: absolute;
    text-align: center;
    border-radius: 2px;
    color: white;
    font-size: 2rem;

    
}
.endgame div{
    padding-top: 200px;
    padding-bottom: 50px; 
    font-size: 56px;
    color: black;
}
.endgame button , button{
    background-color: #3D4250;
    height: 57px;
    width: 144px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}



@media screen and (max-width: 768px) {


    .endgame{
        width: 134%;
        height: 134%;
    }
}